.entry {
  &-title {
    color: var(--color-primary);
    font-weight: 700;
    line-height: 1.5;
  }

  &-excerpt {
    color: var(--color-text);

    p {
      line-height: 1.5;
      font-size: 1.25em;
    }
  }

  &-meta {
    p {
      color: var(--color-text);
      font-size: 1.5em;
      margin: 0;
    }
  }

  &-thumbnail-background {
    background-color: var(--color-primary-light);
    border-radius: var(--radius-medium);
    position: relative;
  }

  &-thumbnail-wrapper {
    position: relative;
    height: 0;
    padding-bottom: calc(100% * 2 / 3);
  }

  &-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-video {
    .entry-thumbnail-wrapper {
      .entry-thumbnail {
        border-radius: var(--radius-medium);
        box-shadow: var(--shadow-primary);
      }
    }
  }

  @media screen and (max-width: $breakpoint-normal) {
    &-title {
      font-size: 2.25em;
    }
  }
}

.entry-horizontal {
  display: flex;
  flex-direction: column;

  .entry-meta {
    p {
      font-size: 1.5em;
      margin: 0;
    }
  }

  .entry-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .entry-title {
      margin: 0;
      flex: 2;
    }
  }

  .entry-excerpt {
    flex: 3;
    margin-left: 8.5em;
  }

  @media screen and (max-width: 76em) {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;

    .entry-body {
      justify-content: center;
    }

    .entry-excerpt {
      margin-left: 0;
    }

    .entry-excerpt, .entry-title {
      flex: 100%;
    }
  }
}

.entry-simple {
  .thumbnail-info-wrapper {
    position: absolute;
    left: -3.75em;
    bottom: -4.625em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.625em;
    height: 18.375em;
    background: var(--color-base);
    border-radius: var(--radius-small);
    padding: 1.5em 3.625em;
    box-shadow: var(--shadow-secondary);

    .thumbnail-info {
      width: 3.625em;
      height: 3.625em;
      object-fit: cover;
      background-color: var(--color-primary-light);
      border-radius: 50%;
    }

    .info-title {
      margin: 0 0 0.875em;
      padding: 0 0.125em 0.625em;
      font-size: 0.875em;
      font-weight: 600;
      border-bottom: 1px solid var(--color-base-invert);
    }

    .info-name {
      margin-top: 1em;
      font-size: 0.75em;
    }

    .info-heading {
      font-size: 1em;
      font-weight: 700;
      font-family: var(--font-primary);
    }

    .info-list {
      padding-left: 1.125em;

      .list-item:not(:last-child) {
        margin-bottom: 1.5em;
      }

      .list-item {
        font-size: 0.75em;
      }
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    .thumbnail-info-wrapper {
      position: static;
      left: 0;
      bottom: 0;
      margin: 0 auto 1em auto;
    }
  }

  @media (max-width: 23.75em) {
    .thumbnail-info-wrapper {
      width: calc(100% - 2em);
    }
  }
}
