.section-fullwidth {
  width: 100%;
  padding: 2.5em 0;

  .row-big {
    max-width: 96em;
  }
}

.section-welcome {
  margin-top: 5.25em;
  padding-top: 10.875em;
  background-image: url('../../dist/images/welcome-image.svg');
  background-position: center;
  background-size: cover;
  height: 56em;

  .entry-featured {
    flex: 0 0 26em;
    max-width: 26em;

    .entry-title {
      margin: 0 0 0.5em;
      letter-spacing: 0.0625em;
      line-height: 1.2;
    }
  }

  .entry-featured-footer{
    margin-top: 2.5em;
  }


  @media screen and (max-width: $breakpoint-normal) {
    margin-top: 4.25em;
    padding-top: 1em;
    height: 34em;
    display: flex;
    align-items: center;

    .entry-featured {
      max-width: 100%;
      flex: 0 0 100%;

      .entry-title {
        font-size: 3em;
      }
    }
  }
}

.section-information {
  padding: 10.5em 0 3.125em 0;

  .cards-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
  }

  @media screen and (max-width: $breakpoint-normal){
    padding: 5em 0 2.125em;

    .cards-wrapper {
      flex-direction: column;
    }
  }
}

.section-background-primary {
  background-color: var(--color-primary-dark);
}

.section-story-info {
  padding: 14.25em 0 11em 0;

  .entry-featured {
    .entry-title, .entry-excerpt {
      color: var(--color-base);
    }

    .entry-title {
      margin-top: 0;
      margin-bottom: 0.75em;
    }

    .entry-excerpt {
      font-weight: 600;
    }

    &-footer {
      margin-top: 3.5em;
    }
  }

  .story-description-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  @media screen and (max-width: $breakpoint-medium) {
    padding: 1.5em 0 5em;

    .story-description-wrapper {
      margin-bottom: 5em;
    }
  }
}

.section-product-information{
  padding: 7.5em 0 15em;

  .entry-simple {
    display: flex;
    padding-left: 3.75em;

    .entry-thumbnail-background, .entry-content {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .entry-thumbnail-background {
      height: 35.75em;
    }

    .entry-content {
      padding-left: 5.375em;
    }

    .entry-body {
      .entry-title {
        margin: 0.5em 0;
        line-height: 1.4;
      }
    }

    .entry-thumbnail-wrapper {
      height: 100%;
      max-width: 22em;
      margin: 0 auto;
    }

    &-footer {
      margin-top: 2.5em;
    }
  }

  @media screen and (max-width: $breakpoint-medium) {
    padding: 5em 0 8em;

    .entry-simple {       
      .entry-content {
        padding-left: 3em;
      }
      .entry-thumbnail-wrapper {
        max-width: 14em;
      }
    }

    
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: 5em 0;

    .entry-simple {
      flex-direction: column;
      padding-left: 0;

      .entry-thumbnail-wrapper {
        height: 0;
      }

      .entry-thumbnail-background,  .entry-content {
        flex: 0 0 100%;
        max-width: 100%;
      }


      .entry-content {
        margin-top: 2em;
        padding-left: 0;
      }
    }
  }
}