.site-footer {
  padding: 6em 0 7.25em;
  background-color: var(--color-primary-dark);

  &-inner {
    margin: 0 auto;
    padding: 0 1em;
  }

  .site-branding {
    font-weight: 900;
    font-size: 2.5em;
    padding: 0 0 0.75em 0;
  }

  .menu {
    padding-left: 0;
    margin: 0;
  }
  .menu-item {
    list-style: none;
  }

  a {
    display: block;
    padding: 1.25em 0;
    font-size: 1.5em;
    text-decoration: none;
    color: var(--color-base);
  }

  @media screen and (max-width: $breakpoint-medium) {
    padding: 3em 0;
    
    a {
      padding: 0.5em 0;
    }
  }
}
