.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--color-white);
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-light);

  &-inner {
    width: 100%;
    padding: 0 1em;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .site-branding {
    display: block;
    font-weight: 900;
    font-size: 1.625em;
    padding: 1em 2em 1em 0;
    color: var(--color-primary);
    text-decoration: none;
  }

  .site-navigation {
    margin-left: 7.5em;
    width: 100%;
    
    .menu {
      padding-left: 0;
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    .menu-item {
      &:first-child {
        .menu-item-link{
          padding-left: 0;
        }
      }
    }

    .menu-item-empty {
      width: 100%;
    }

    .menu-item-link {
      display: block;
      padding: 1.75em 2em;
      font-weight: 500;
      font-size: 1.125em;
      text-decoration: none;
      color: var(--color-dark);
      white-space: nowrap;

      &:hover {
        text-shadow: 0.0625em 0px 0px;
      }
    }

    .button-primary {
      padding: 0.875rem 2.125em;
    }
  }

  .menu-toggle {
    display: none;
  }

  @media screen and (max-width: $breakpoint-large) {
    .site-navigation {
      margin-left: 4em;

      .menu-item-link {padding: 1.75em 1.5em;}

      .menu-item-empty {
        max-width: 1em;
      }
    }
  }

  @media screen and (max-width: 67.5em) {
    .site-navigation {
      margin-left: 1.5em;

      .menu-item-link {padding: 1.75em 1em;}

      .menu-item-empty {
        max-width: 1em;
      }
    }
  }

  @media screen and (max-width: 55.125em) {
    .site-navigation {
      margin-left: 1em;

      .menu-item-link {
        font-size: 1em;
      }

      .button-primary {
        font-size: 1em;
      }
    }
  }

  @media screen and (max-width: $breakpoint-normal) {

    .site-branding {
      padding: 0.75em 2em 0.75em 0;
    }
   
    .menu-toggle {
      display: flex;
      align-items: center;
      padding: 1em 0 1em 1em;
      cursor: pointer;
    }

    .site-navigation {
      position: absolute;
      left: 0;
      margin-top: 4.25em;
      margin-left: 0;
      background-color: var(--color-white);
      border-top: 1px solid var(--color-light);

      width: 100%;
      z-index: 100;
      transition: 0.5s;
      transform: translateX(-102%);

      padding-bottom: 1.25em;
      box-shadow: $shadow-primary;

      .menu {
        flex-direction: column;

        &-item {
          width: 100%;
        }
      }

      a {
        padding: 1em 0;
        text-align: center;
      }

      .menu-item {
        &:first-child {
          .menu-item-link{
            padding-left: 1em;
            padding-top: 2.25em;
          }
        }

        &:nth-last-child(2) {
          .menu-item-link{
            padding-bottom: 2.25em;
          }
        }
      }

      .menu-item-link {
        padding: 1.125em 1em;
      }
    }

    .menu-item-empty{
      display: none;
    }

    .button-primary {
      width: calc(100% - 2em);
      margin: 0 1em;
    }
   
  }
}
